{{ > partials/header }}

<h1>Users App</h1>

<a href="/users" class="ui orange button">Liste des utilisateurs</a>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Nom d'utilisateur</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#users}}
    <tr>
      <td>
        <a href="/users/{{id}}">
          {{firstname}}
        </a>
      </td>
      <td>{{lastname}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td class="right aligned">
        <form method="post" action="/users/{{id}}/delete" style="display:inline">
          <button class="ui red mini button" onclick="return confirm('Supprimer cet utilisateur ?')">
            Supprimer
          </button>
        </form>
      </td>
    </tr>
  {{/users}}

  {{^users}}
    <tr>
      <td colspan="5" class="center aligned">
        Aucun utilisateur trouvé.
      </td>
    </tr>
  {{/users}}
  </tbody>
</table>

{{#updatedUser}}
<script>
$.toast?.({
  title: 'Ajout/modification',
  message: 'L’utilisateur {{firstname}} {{lastname}} a été ajouté/modifié.',
  classProgress: 'red',
  showProgress: 'bottom'
});
</script>
{{/updatedUser}}

{{ > partials/footer }}