{{ > partials/header }}

<form method="post" action="{{#isEdit}}/users/{{user.id}}/edit{{/isEdit}}{{^isEdit}}/users/create{{/isEdit}}">
    <input type="text" placeholder="Prénom" name="firstname" value="{{user.firstname}}" required>
    <input type="text" placeholder="Nom" name="lastname" value="{{user.lastname}}" required>
    <input type="text" placeholder="Login" name="username" value="{{user.username}}" required>
    <input type="email" placeholder="Email" name="email" value="{{user.email}}" required>
    <button type="submit">Valider</button>
</form>

<a href="/users">← Retour à la liste</a>

{{ > partials/footer }}